        body {
            display: flex;
            flex-direction: column;
            background-color: white;
            color: rgb(34, 34, 34);
            font-family: arial, sans-serif;
            font-size: 13px;
        }
        
        a {
            text-decoration: none;
        }
        
        #nav {
            position: relative;
            font-size: 13px;
            height: 50px;
        }
        
        #main {
            display: flex;
            flex-direction: column;
            margin: 10% auto;
            min-height: 500px;
        }
        
        #search {
            min-width: 100%;
        }
        
        #footer {
            position: absolute;
            bottom: 0;
        }
        
        .buttons {
            margin: 10px auto;
            min-width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        
        .floatleft {
            float: left;
            padding: 5px;
            margin: 10px auto;
        }
        
        .floatright {
            float: right;
            padding: 5px;
            margin: 10px auto;
        }
        
        .googledoodle {
            display: block;
            position: relative;
        }